.img-logo{
  width: 65px;
  height: 65px;
}
.navbar-nav .nav-item {
  margin: 0 15px; /* Sesuaikan jarak antar item */
  justify-content: center;
}
.navbar .nav-link {
  color: #FFF; /* Warna default untuk teks navbar */
}
.navbar .nav-link.active {
  color: #fff;
  font-weight: bold; /* Mengatur teks tebal untuk teks navbar ketika aktif */
}
.nav-text{
  color: #000;
  width: 90px;
}
.navbar-scrolled{
  background-color: #FFF;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  height: 90px;
}
.navbar-scrolled .nav-link {
  color: #000; /* Warna hitam untuk teks navbar di-scroll */
}
.navbar-scrolled .nav-link.active{
  color: #000;
  font-weight: bold;
}
.navbar-scrolled .nav-item.active .nav-link{
  font-weight: bold;
}
.content-web{
  display: block;
}
.content-mob{
  display: none;
}
.gap-row1{
  margin-top: -150px;
}
.video-container {
  padding-bottom: 40%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  margin: auto;
  z-index: 10px;
  margin-top: -250px;
  margin-left: 170px;
}

.video-container iframe {  
  top: 0px;
  left: 0;
  width: 1000px;
  height: 500px;
  border-radius: 15px;
  z-index: 10px;
  align-items: center;
}
.text-biru{
  color: var(--Blue, #00AFEF);
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.072px;
}

.text-putih{
  color: #FFF;

font-family: Poppins;
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: normal;
letter-spacing: 0.048px;
}

.font2{
color: var(--Primary, #1A051D);
text-align: center;
font-family: Poppins;
font-size: 32px;
font-style: italic;
font-weight: 500;
line-height: normal;
letter-spacing: 0.12px;
text-align: center;
}

.font1{
color: var(--Blue, #00AFEF);
font-family: Poppins;
font-size: 16px;
font-style: italic;
font-weight: 500;
line-height: normal;
letter-spacing: 0.048px;
text-align: center;
}

.font3{
color: var(--Primary, #1A051D);
font-family: Poppins;
font-size: 24px;
font-style: italic;
font-weight: 500;
line-height: normal;
letter-spacing: 0.072px;
}

.font4{
color: #71747D;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.042px;
}

.font5{
  color: var(--Primary, #1A051D);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.072px;
}

.font6{
  color: var(--Blue, #00AFEF);
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.072px;
}

.font7{
  display: inline-flex;
padding: 8px 12px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 5px;
background: #F6F6F6;
color: #000;
}

.font8{
  color: #FFF;

font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.12px;
}

.font9{
  color: #FFF;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.042px;
}
.font10{
  color: #FFF;

font-family: Poppins;
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: normal;
letter-spacing: 0.048px;
}

.font11{
  color: #FFF;
      text-align: center;
      font-family: Poppins;
      font-size: 32px;
      font-style: italic;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.12px;
      text-align: left;
}

.btn2{
  display: flex;
width: 140px;
height: 52px;
padding: 8px;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
border-radius: 5px;
background: #FFF;
border: none;
}

.img1{
  width: 180px;
  margin-top: -89px;
  margin-left: 140px;
}

.img-c{
  width: 360px;
  height: 434px;
}

.fixed-top{
  left:-10px;
}

#sticky-button {
  position: fixed;
  right:0px;
  bottom: 0px; /* Sesuaikan dengan jarak dari bawah yang diinginkan */
  z-index: 2; /* Untuk memastikan tombol ada di atas konten */
  width: 150px;
  height: 150px;
}

.img-2{
  width: 430px;
  height: 600px;
}

.img-3{
  width:450px;
  height: 600px;
}

#form-awal {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden; /* Mencegah penggeseran horizontal */
}

.banner-image{
background-image: url(../assets/bg1.png);
background-size: cover;
}

.judul{
  color: var(--Blue, #00AFEF);
font-family: Poppins;
font-size: 48px;
font-style: italic;
font-weight: 700;
line-height: 60px; /* 125% */
letter-spacing: 0.144px;
}
.paragraf1{
  color: #FFF;

font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.042px;
}
.form-gap{
  margin-top: 60px;
}
.form-control-1{
  margin-left: 40px;
}
.service-gap{
  margin-top: 60px;
  padding: 50px;
  background-image: url(../assets/footer_about.png);
  background-size: cover;
}
.service1{
  margin-top: 120px;
}

.mission-gap{
  margin-top: 60px;
}
.portfolio-gap{
  margin-top: 60px;
}

.ready-gap{
  width: 1160px;
height: 240px;
background-color: #00AFEF;
border-radius: 15px;
margin-top: 60px;
}
.about-gap{
  width: 1160px;
height: 635px;
background-color: #00AFEF;
border-radius: 15px;
margin-top: 60px;
}
.font13{
  color: var(--Primary, #1A051D);
  font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.042px;
}

.mobile-ready{
  display: none;
}

.card-kotak{
height: 180px;
}

.card-kotak2{
  width: 374px;
height: 212px;
  }

.line1{
  margin-left: -170px;
  margin-right: 10px;
}
.line2{
  margin-left: -240px;
  margin-right: 20px;
}
.line3{
  width: 0.5px;
height: 72px;
}
.btn-1{
border-radius: 15px 0px;
border: 1px solid #00AFEF;
background: #FFF;
box-shadow: 4px 4px 0px 0px #00AFEF;
display: flex;
width: 129px;
height: 40px;
padding: 8px;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
color: #00AFEF;
}

.mob-btn{
  display: none;
}
.web-btn{
  display: block;
}

.footer-image{
  background-image: url(../assets/footer.png);
  margin-top: 60px;
  background-size: cover;
  height: 150px;
}
.logo-footer{
  width: 50px;
  height: 50px;
}
.border-putih{
  position: relative;
  left:0;
  right:0;
  bottom: 0;
  top: -100px;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #fff; /* Kotak putih transparan */
  width: 320px;
  height: 70px;
}
.border-putih{
  margin-left: 19px; 
  margin-bottom:19px;
}
.font-swipper{
  color: var(--Black, #1A051D);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -1px;
padding: 8px;
}
.biru-swipper{
  color: #00AFEF;

font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.042px;
margin-left: 10px;
margin-top: -22px;
}
@keyframes drift {
  from {
    transform: translateX(50%); /* Mulai dari kanan */
  }
  to {
    transform: translateX(-700%); /* Akhir di kiri */
  }
}

.swiper-slide {
  z-index: 100;
  animation: drift 25s linear infinite; 
  width:30%;
}
.swiper-container {
  margin-top: 3%;
  z-index: 0; /* Atur nilai z-index lebih rendah dari kontainer utama */
}

.card-img-overlay {
  position: absolute;
  top: auto;
  left:0;
  right: 20;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #fff; /* Kotak putih transparan */
  width: 320px;
  height: 50px;
}
.card-img-overlay{
  margin-left: 19px; 
  margin-bottom:19px;
}
.card-img{
  width: 360px;
  height: 434px;
}
.card-text{
  top:20px;
}
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #00AFEF;
  gap:8px;
  padding: 16px;
}

.nav-tabs .nav-link {
  background-color: #fff;
  color: black;
  border: none;
  gap:8px;
  padding: 16px;
}

.nav-tabs .nav-link:hover {
  border: none;
}

.nav-tabs {
  border:none;
  justify-content: center;
}

.view-text3{
  margin-top: -12px;
  margin-left: -7px;
}

.tab-content {
  border:none;
  padding: 20px;
}
.font12{
      color: #71747D;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.042px;
      text-align: left;
}
.navmobile{
  display: none;
}
.navweb{
  display: block;
}
.overlayNavbar {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-y: hidden;
  transition: 0.5s;
  background-color: #00AFEF;
}

.overlayNavbar-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlayNavbar a {
  padding: 8px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  color: #FFF;
}
.card-img{
  width: 375px;
  height: 240px;
  border-radius: 15px;
}


.overlayNavbar a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlayNavbar .closebtn {
  position: absolute;
  top: 55px;
  right: 45px;
  font-size: 39px;
}
.img-mobile{
  display: none;
}
.img-web{
  display: block;
}
.images-mission{
  width: 375px;
  height: 240px;
  border-radius: 15px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: -10px;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 900px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 70px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  position: absolute;
  top: 55%;
  width: auto;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
}

/* Position the "next button" to the right */
.next {
  right: -70px;
}

.prev{
    left:-70px
}

.modal-img{
  width: 900px;
  height: 500px;
}
.images-mission{
  border-radius: 15px;
}
.images-mission2{
  border-radius: 15px;
  height:277px;
  width:420px;
}

@media only screen and (max-width: 767px){
  .navmobile{
      display: block;
      color: #00AFEF;
  }
  .navweb{
      display: none;
  }
  .navbar-toggler {
      background-color: transparent;
      border: none;
  }
  .bi-arrow-up-circle-fill{
      color: #FFF;
    }
    .overlayNavbar {overflow-y:auto;}
    .overlayNavbar a {font-size: 15px}
    .overlayNavbar .closebtn {
      font-size: 30px;
      top: 25px;
      right: 2px;
      border: none;
      background-color: transparent;
    }
    .img-web{
      display: none;
    }
    .img-mobile{
      display: block;
    }
    
  .line1{
      display: none;
  }
  .line2{
      display: none;
  }
  .line3{
      display: none;
  }
  .jarak-mob{
      margin-top: 30px;
  }

  .navbar-toggler-icon {
      color: #00AFEF;
      border-color: #00AFEF;
      filter: invert(1);
  }
  .service1{
      margin-top: 0px;
  }
  .card-kotak2{
      height: auto;
      }
  .judul{
  font-size: 32px;
  margin-top: -10px;
  line-height: normal;
  }
  .video-container {
      padding-bottom: 20%; /* 16:9 aspect ratio */
      height: 250px;
      overflow: hidden;
      margin: auto;
      z-index: 10px;
      margin-top: -80px;
      margin-left: 16px;
    }
  
    .video-container iframe {  
      top: 0px;
      left: 0;
      width: 95%;
      height: 95%;
      border-radius: 15px;
      z-index: 10px;
      align-items: center;
    }
    .text-putih{
      margin-top: -19px;
    }
  .mobile-ready{
      display: block;
  }
  .ready-gap{
      width: 350px;
      height: 400px;
  background-color: #00AFEF;
  border-radius: 5px;

  }
  .about-gap{
      width: 350px;
      height: 800px;
  background-color: #00AFEF;
  border-radius: 5px;
  }
  .img1{
      width: 141px;
      margin-left: 100px;
  }
  .font8{
      color: #FFF;
  
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.12px;
  text-align: center;
  }
  
  .font9{
      color: #FFF;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.042px;
  text-align: center;
  }
  .gambar-view3{
      width: 390px;
  }
  .view-text3{
      margin-top: -8px;
      margin-left: -8px;
  }
  .font13{
      color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.042px;
  text-align: center;
  }
  .card-service{
      width: 350px;
      margin-left: -25px;
  }
  .btn2{
      display: flex;
  width: 120px;
  height: 45px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  border: none;
  margin-left: 105px;
  }
  .swiper-slide {
      z-index: 100;
      animation: drift 25s linear infinite; 
      width:105%;
    }
    .swiper-container {
      margin-top: 3%;
      z-index: 0; /* Atur nilai z-index lebih rendah dari kontainer utama */
    }
    .font12{
      color: #71747D;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.042px;
      text-align: center;
      }
      
    .btn-1{
      width: 163px;
      height: 48px;
      margin-left: 20px;
      }
      .mob-btn{
          display: block;
      }
      .web-btn{
          display: none;
      }

      .button-1{
          margin-left: 100px;
          margin-top: -50px;
          margin-bottom: 140px;
      }
      .button-2{
          margin-left: 40px;
          margin-top: 20px;
      }
      .img-2{
          display: none;
      }
      
      .img-3{
          display: none;
      }
      .font4{
          font-size: 12px;
          }
          .font2{
              font-family: Poppins;
              font-size: 20px;
              }
          .font3{
              font-size: 16px;
          }
          .font11{
              text-align: center;
              font-size: 20px;
              color: #f1f1f1;
      }
          .portfolio-gap{
              padding: 15px;
          }
          .area{
              margin-top: -40px;
          }
          .form-gap{
              margin-top: 0px;
          }
          .content-web{
              display: none;
          }
          .content-mob{
              display: block;
          }
          .gallery-popup .modal-img{
              width: 100%;
            }
            .gallery-popup {
              display: flex;
              align-items: center;
              justify-content: center;
            }
            
            .modal-dialog {
              max-width: 400px;
              padding-top: 60%;
              
            }
            
            .modal-img{
              width: 100%;
              height: 200px;
            }
            
            .modal {
              display: none;
              position: fixed;
              z-index: 2;
              left:0px;
              padding-top: 60%;
              top: 0;
              width: 100%;
              height: 100%;
              overflow: auto;
              background-color: rgba(0, 0, 0, 0.9);
            }
            
            /* Modal Content */
            .modal-content {
              position: relative;
              background-color: #fefefe;
              margin: auto;
              padding: 0;
              width: 90%;
              max-width: 900px;
            }
            
            /* The Close Button */
            .close {
              color: white;
              position: absolute;
              top: 70px;
              right: 25px;
              font-size: 35px;
              font-weight: bold;
            }
            
            .close:hover,
            .close:focus {
              color: #999;
              text-decoration: none;
              cursor: pointer;
            }
            
            /* Next & previous buttons */
            .prev,
            .next {
              position: absolute;
              top: 55%;
              width: auto;
              margin-top: -50px;
              color: white;
              font-weight: bold;
              font-size: 40px;
            }
            
            /* Position the "next button" to the right */
            .next {
              right: 0px;
            }
            
            .prev{
                left:0px
            }
}